/* 40 29 25 */

:root {
    --primary: #5C3F37;
    --secondary: #281D19;
}

li {
    list-style-type: circle;
}

body {
    margin: 10px;
    background-color: rgba(92, 63, 55, 0.9);
}

/* base style  screen less than 630px it will lock at 400px */

#main {
    display: grid;
    margin: auto;
    min-width: 400px;
    background-color: var(--secondary);
    padding: 30px;
    box-shadow: 0 0 15px var(--secondary);
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "title-div"
    "subtitle-div"
    "img-div"
    "tribute-info";
    border-radius: 25px; 
    justify-items: center;
      
}


#title-div {
    grid-area: title-div;
    min-width: 350px;
    grid-column: 1/9;
    background-color: var(--primary);
    border-radius: 25px;
    -webkit-box-shadow: inset 0 0 21px var(--secondary);
    -moz-box-shadow: inset 0 0 21px var(--secondary);
    box-shadow: inset 0 0 21px var(--secondary);
    padding: 10px 25px 30px 25px;
    height: auto;
}

#title-div #title {
    font-size: 2.4em;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 1px;
    font-weight: bold;
    padding-top: 15px;
    background: var(--secondary); 
    color: transparent;
    text-shadow: rgba(94, 68, 59, 0.4) 3px 5px 6px; 
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
} 

#title-div #pro {
    text-transform: capitalize;
    font-family:  classmate;
    font-size: 1em;
}

#subtitle-div {
    position: relative;
    top: -48px;
    height: auto;
    grid-area: subtitle-div;
    background-color: #281D19;
    grid-column: 1/9;
    text-align: center;
    border-radius: 25px 25px 0 0;
    padding: 0 10px;
    -webkit-box-shadow: 0 -2px 2px #000;
    -moz-box-shadow: 0 -2px 2px  #000;
    box-shadow: 0 -2px 2px  #000;
}

#subtitle-div h3 {
    font-size: 1em;
    color: var(--primary);
    font-variant: small-caps;
}

#img-div {
    position: relative;
    top: -33px;
    grid-area: img-div;
    background-color: var(--primary);
    grid-column: 1/9;
    text-align: center;
    border-radius: 25px;
    box-shadow: inset 0 0 1px #000;
    padding: 10px 10px 40px 10px;
    justify-self: center;
    -webkit-box-shadow: inset 0 0 21px var(--secondary);
    -moz-box-shadow: inset 0 0 21px var(--secondary);
    box-shadow: inset 0 0 21px var(--secondary);
    height: 650px;
}

#img-div figure {
    display: inline-block;
}

#image {
    width: 100%;
    height: auto;
    max-width: 568px;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    -webkit-box-shadow: 0 5px 21px var(--secondary);
    -moz-box-shadow:  0 5px 21px var(--secondary);
    box-shadow:  0 5px 21px var(--secondary);
    
  }

  #img-caption { 
      margin: auto;
      text-align: justify;
      color: var(--primary);
      max-width: 470px;
      background-color: #281D19;
      grid-column: 1/9;
      border-radius: 0 0 25px 25px;
      padding: 15px 15px;
      -webkit-box-shadow: 0 2px 2px #000;
      -moz-box-shadow: 0 2px 2px  #000;
      box-shadow: 0 2px 2px  #000;
}

#tribute-info {
    grid-area: tribute-info;
    width: 450px;
    color:var(--secondary);
    background-color: var(--primary);
    grid-column: 1/9;
    border-radius: 25px;
    -webkit-box-shadow: inset 0 0 21px var(--secondary);
    -moz-box-shadow: inset 0 0 21px var(--secondary);
    box-shadow: inset 0 0 21px var(--secondary);
}

#tribute-info h3 {
    text-align: center;
    font-size: 2em;
    margin: 5px;
    text-transform: capitalize;
}

#tribute-info a {
    
    color:var(--secondary);
    text-decoration: none;
    font-variant: small-caps;
}

@font-face {
    font-family:  classmate;
    src: url("../fonts/ClassmatesDemoRegular.ttf");
}

@media screen and (max-width: 630px) {
    #main {
        width: 600px;
    }

    #title-div {
       width: 500px;
    }
    #title-div #title {
        font-size: 2.5em;
    }

    #subtitle-div {
        width: 450px;
        font-size: 14px;
        top: -43px;
    }

    #img-div {
        width: 530px;
        height: 520px;
    }

    #img-caption {
        font-size: 15px;
        width: 350px;
        height: 80px;
        padding: 5px 12px 5px 12px;
    }

    #tribute-info {
        font-size: 15px;
    }
}

@media screen and (min-width: 630px) {
    #main {
        width: 600px;

    }

    #title-div {
       width: 500px;
    }

    #title-div #title {
        font-size: 2.5em;
    }

    #subtitle-div {
        width: 450px;
        font-size: 14px;
        top: -43px;
    }

    #img-div {
        width: 530px;
        height: 520px;
    }

    #img-caption {
        font-size: 15px;
        width: 350px;
        height: 80px;
        padding: 5px 12px 5px 12px;
    }

    #tribute-info {
        font-size: 15px;
    }
}

@media screen and (min-width: 920px) {
    #main {
        width: 800px;
    }
    #title-div {
        width: 700px;
     }

     #title-div #title {
        font-size: 3.5em;
    }

    #subtitle-div {
        width: 600px;
        font-size: 16.5px;
        top: -50px;
    }

    #img-div {
        width: 730px;
        height: 650px;
    }

    #img-caption {
        font-size: 16px;
        width: 440px;
        height: 80px;
        padding: 5px 12px 5px 12px;
    }

    #tribute-info {
        font-size: 16px;
    }
}

@media screen and (min-width: 1920px) and (max-width: 5120px) {
    #main {
        width: 1000px;
    }
    #title-div {
        width: 900px;
     }

     #title-div #title {
        font-size: 4.5em;
    }

    #subtitle-div {
        width: 750px;
        font-size: 19px;
        top: -57px;
    }

    #img-div {
        width: 930px;
        height: 650px;
    }

    #img-caption {
        font-size: 16px;
        width: 440px;
        height: 80px;
        padding: 5px 12px 5px 12px;
    }

    #tribute-info {
        font-size: 16px;
    }
}